.edit-contsiner{
    background-color: rgb(93, 153, 221);
    width: 350px;
    margin: auto;
    text-align: center;
    color: rgb(27, 27, 27);
    font-size: 12px;
    padding-top: 1px;
    border-radius: 6px;
    font-family: sans-serif;
}

/* .edit-contsiner h1{
   
} */

.edit-contsiner input{
    height: 30px;
    margin-bottom: 10px;
    width: 230px;
    border: none;
    border-radius: 4px;
}

.span-item{
    display: inline-block;
    background-color: rgb(9, 32, 43);
    color: #ffffff;
    cursor: pointer;
    margin-left: 10px;
    width: 60px;
    text-align: center;
    line-height: 31px;
    border-radius: 4px;
    font-weight: 600;
}